<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TravelPreparation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FBE2463E1B4D289B00BA2B02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBE246521B4D289C00BA2B02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBE2465D1B4D289C00BA2B02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
